@charset 'UTF-8';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: prp;
}
@font-face {
    font-family: prp;
    src: url(../fontes/boxigen.otf);
}

body{
    background-image: linear-gradient(to right, black, rgb(34, 34, 116));
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

a{
    margin-right: 5px;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    border-radius: 10px;
    background-color: rgb(193, 191, 191);
    width: 500px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
}

div:hover{
    transition: 0.7s;
    transform: scale(1.05);
    background-color: rgb(214, 215, 215);
}

footer{
    text-align: center;
    background-color: white;
    margin-top: 40px;
}




@media screen and (max-width: 700px) {
    div{
        width: 250px;
    }
    h1{
        margin-top: 7px;
        font-size: 1.5em;
    }
    
}